body {
    background-color: #121212;
}

.banner {
    position: fixed;
    left: 20%;
    height: 18%;
    width: 100%;
    background-color: #0384a4;
    color: #fff;
    overflow: auto;
    opacity: 0.95;
    z-index: 1;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 55%;
    color: white;
}

.compose {
    position: fixed;
    right: 2%;
    bottom: 5%;
    width: 8%;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #14c4e8;
    transition: background-color 0.2s;
    color: white;

}

.compose:hover {
    background-color: #25d8fa;
}



.text-box {
    display: block;
    padding: 5% 10%;
    width: 100%;
    height: 90vh;
    background-color: #121212;
    border: none;
    resize: none;
    caret-color: #14c4e8;
    font-size: 1.2rem;

}

.text-box:focus {
    outline: none;
}

.date {
    display: inline;
    color: #14c4e8;
    padding: 20px;
    margin-top: 20px;
}

.add {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #14c4e8;
    color: white;
}

.loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    border: 10px dotted gray;
    animation: loading 2.5s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
        border-color: #B8C6DB;
    }

    25% {
        transform: rotate(90deg);
        border-color: #DAF8FD;
    }

    50% {
        transform: rotate(180deg);
        border-color: #FDFAFF;
    }

    75% {
        transform: rotate(270deg);
        border-color: #DAF8FD;
    }

    100% {
        transform: rotate(360deg);
        border-color: #B8C6DB;
    }
}

.entry {
    padding: 20px;
    border-bottom: 1px solid #2f2f2f;
    transition: background-color 0.3s;
}

.entry:hover {
    background-color: #252525;
}

.date-entry {
    color: #14c4e8;
}

a {
    text-decoration: none;
}